<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /coedsystem/
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /coedsystem/index.html [L]

RewriteRule ^signin/$ signin.php    [NC,L]
RewriteRule ^administrator/participant/$ administrator/participant.php    [NC,L]
RewriteRule ^administrator/participant-all/$ administrator/participant-all.php    [NC,L]
RewriteRule ^administrator/useraccount/$ administrator/useraccount.php    [NC,L]
RewriteRule ^administrator/userinfo/$ administrator/userinfo.php    [NC,L]
RewriteRule ^administrator/updateinfo/$ administrator/updateinfo.php    [NC,L]
RewriteRule ^administrator/adduser/$ administrator/adduser.php    [NC,L]
RewriteRule ^administrator/changepassword/$ administrator/changepassword.php    [NC,L]
RewriteRule ^administrator/applicationinfo/$ administrator/application-info.php    [NC,L]
RewriteRule ^administrator/applicationinfo-all/$ administrator/application-info-all.php    [NC,L]


RewriteRule ^administrator/applicationinfo/$ administrator/application-into.php    [NC,L]
RewriteRule ^student/question/$ student/question.php    [NC,L]
RewriteRule ^student/application/$ student/applicationform.php    [NC,L]
RewriteRule ^student/changepassword/$ student/changepassword.php    [NC,L]


#RewriteRule ^([a-zA-Z0-9]+)/$ signin.php
#RewriteRule ^([a-zA-Z0-9]+)/^([a-zA-Z0-9]+)/$ participant.php
</IfModule>
